/.vscode/**
my_images
my_imgs_hi_res
my_imgs_hi_res_2
my_imgs_hi_res_3
my_imgs_rotated_resized
my_imgs_rotated_resized_2
download.jpg

runs
dataset
yolov8l.pt
yolov8m.pt
yolov8n.pt
yolov8s.pt
yolov8x.pt